<h2><%= @creation.title %></h2>
<p><%= @creation.description %></p>
<img src="<%= @creation.image_url %>" alt="<%= @creation.title %>">
<h3>Directions</h3>
<p><%= @creation.directions %></p>
<h3>Tags</h3>
<p><%= @creation.tags %></p>

<% if logged_in? && @creation.user_id == current_user.id %>
  <a href="/creations/<%=@creation.id%>/edit">Edit Creation</a>
  <form method="post" action="/creations/<%=@creation.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="DELETE">
    <input type="submit" name="submit" id="submit" value="Delete Creation">
  </form>
<% end %>
