<div class="intro">
  <h2>Welcome to the Trashare Marketplace.</h2>
  <p>Check to what people are giving away and keep an eye out for items local artists need.</p>
  <!--Add Image here-->
  <!--Add link to Request Index here-->
  <p>What artists need.</p>
</div>

<div class="featured_artist">
  <!--Add most recent artist request here-->
  <h2>Artist Name</h2>
  <p>Hi! I could really use your help collecting the the following materials for my next project. It's goonna be epic!</p>
  <!--Add show page link here-->
</div>

<div class="marketplace">
  <h2>What's on the Market</h2>

  <div class="featured_donations">
    <% @donations.each do |donation| %>
    <div class="donation_info">
      <h3><a href="/donations/<%= donation.id %>"><%= donation.title %></a></h3>
      <p><%= donation.description %></p>
      <img src="<%= donation.image_url %>" alt="<%= donation.title %>" height = 200>
      <h4>Address</h4>
      <p><%= donation.address %></p>
      <h4>Tags</h4>
      <p><%= donation.tags %></p>
    </div>
    <div class="donor_info">
      <% user = @users.find_by(id: donation.user_id) %>
      <p class="post_time">Posted by <%= user.first_name %> at <%= donation.post_time %></p>
      <img src="<%= user.user_image%>" alt="<%= user.username %>" height = 200><br>
      <a href ="mailto:<%=user.email%>">Contact</a>
    </div>
    <% end %>
  </div>
  <a href= "/donations">View all donations.</a>
</div>
