<div class="intro">
  <h2>Welcome to the Trashare Marketplace.</h2>
  <p>Check to what people are giving away and keep an eye out for items local artists need.</p>
  <!--Add Image here-->
  <a href="/supplies">What artists need.</a>
</div>

<div class="featured_supply">
  <h2><%= @supply.user.first_name %></h2>
  <img src="<%= @supply.user.user_image %>" alt="<%= @supply.user.username %>" height = 200>
  <p><%= @supply.description %></p>
  <% @supply.tags %>
  <a href ="/supplies/<%=@supply.id%>">Help <%= @supply.user.first_name %></a>
</div>

<div class="marketplace">
  <h2>What's on the Market</h2>

  <div class="featured_donations">
    <% @donations.each do |donation| %>
    <div class="donation_info">
      <h3><a href="/donations/<%= donation.id %>"><%= donation.title %></a></h3>
      <p><%= donation.description %></p>
      <img src="<%= donation.image_url %>" alt="<%= donation.title %>" height = 200>
      <h4>Address</h4>
      <p><%= donation.address %></p>
      <h4>Tags</h4>
      <p><%= donation.tags %></p>
    </div>
    <div class="donor_info">
      <p class="post_time">Posted by <%= donation.user.first_name %> at <%= donation.post_time %></p>
      <img src="<%= donation.user.user_image%>" alt="<%= donation.user.username %>" height = 200><br>
      <a href ="mailto:<%=donation.user.email%>">Contact</a>
      <hr size="3" width="100%" align="center" color="black">
    </div>
    <% end %>

  </div>
  <a href= "/donations">View all donations.</a>
</div>
